{% extends "layout.html" %}

{% block title %}
    Admin Summary
{% endblock %}

{% block main %}
    <h1>
        <p>
            Admin Summary of all Users
        </p>
    </h1>
    
    <p> Update a user's paid amount</p>
    <p> Total BOXES given out so far:  {{ total_max }} </p>
    <form action="{{ url_for('admin_summary') }}" method="POST">
        <input autocomplete="off" class="form-control" name="userid" placeholder="userid" type="text" size="5"/>
        <input autocomplete="off" class="form-control" name="amt_paid" placeholder="$amt" type="text" size="5"/>
        <button type="submit">Update Amt Paid</button>
    </form>
    <form action="{{ url_for('add_boxes_for_user') }}" method="POST">
        <input autocomplete="off" class="form-control" name="userid" placeholder="userid" type="text" size="5"/>
        <input autocomplete="off" class="form-control" name="boxes" placeholder="boxes" type="text" size="5"/>
        <button type="submit">Update Max Boxes</button>
    </form>

    <h4>
        <table align = "center", cellpadding = "10">
            <tr>
                <th> userid </th>
                <th> username </th>
                <th> first name </th>
                <th> last name </th>
                <th> email </th>
                <th> mobile </th>
                <th> is admin? </th>
                <th> alias of userid </th>
                <th> # active boxes </th>
                <th> max boxes </th>
                <th> total fees </th>
                <th> amt paid </th>
            </tr>
            {% for user in users %}
            <tr>
                {% for field in user %}
                <td>{{ field }}</td>
                {% endfor %}
                <td>{{ d[user[0]] }}</td>
                <td>{{ mbd[user[0]] }}</td>
                <td class="active_user">{{ fees[user[0]] }}</td>
                <td>{{ paid[user[0]] }} </td>
            </tr>
            {% endfor %}
        </table>
    </h4>
{% endblock %}

