{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}



{% block main %}
    <form action="{{ url_for('admin') }}" method="post">
        <a href="{{ url_for('init_box_db') }}">Initialize BOX DB (danger)</a>
    </form>
    <form action="{{url_for('create_game') }}" method="POST">
        <a href="{{ url_for('create_game') }}">Create New Game</a>
        <input type="text" name="fee" size="5">
        <input type="text" name="box_name" size="10">
        <select name="box_type">
            <option value=1>New Daily Box</option>
            <option value=2>New Custom Box</option>
        </select>
        <input type="submit">
    </form>
{% endblock %}
