{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<script type="text/javascript">

$(document).ready(function(){
    $("#grid td.y_n:contains('N')").css('background-color','#fcc');
});

</script>


    <h1>
        <p>
            Game Name: {{ box_name }} </br>
            Entry Fee: {{ fee }}  Available: {{ avail }}
        </p>
    </h1>
    <p> Randomize Selection </p> 
    <form name="randform" id="randform" action="{{ url_for("select_box") }}",  method="POST">
        <input type="text" name="rand" id="rand" size="5" placeholder="# boxes">
        <input type="hidden" name="boxid" value="{{ boxid }}">
        <input type="submit" onClick="return empty()">
    </form>
    <table id="grid" align = "center", cellpadding = "30">
        <h3>
        <tr>
        {% for num in x %}
            <td> {{ num }} </td>
        {% endfor %}
        </tr>
        {% for row in grid %}
        <tr>
            <td> {{ y[loop.index0] }} </td>  
            {% for box in row %}
                <td>    
                    <form action="{{ url_for("select_box") }}", method="POST">
                    <input type="submit" value="{{- box[0] -}}" name="box_num"><br> </br>{{- box[1] -}}
                    <input type="hidden" name="boxid", value="{{ boxid }}">
                    </form>
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </h3>
    </table>

{% endblock %}



