{% extends "layout.html" %}

{% block title %}
    Completed Games
{% endblock %}

{% block main %}
    <h1>
        <p>
            Completed Games
        </p>
    </h1>

    <h4>
        <table align = "center", cellpadding = "10">
        <tr>
            <th> Game ID </th>
            <th> Box Name </th>
            <th> Entry Fee </th>
            <th> Payout Type </th>
            <th> Winner </th>
        </tr>
            {% for row in game_list %}
            <tr>
                <form action="{{ url_for("display_box") }}", method="post", name="boxid", value="{{ row[0] }}">
                <td><input type="submit" value="{{ row[0] }}" name="boxid"></td>
                {% for field in row[1:] %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </h4>
{% endblock %}

