{% extends "layout.html" %}

{% block title %}
    Game List
{% endblock %}

{% block main %}
    <h1>
        <p>
            Nutcracker Boxes <br>
            Each box winner gains 10 entries to SNF final - TEN @ GB
        </p>
    </h1>

    <a href="{{ url_for('completed_games') }}">View Completed Games</a>
    </br>


    <h4>
        <table align = "center", cellpadding = "10">
        <tr>
            <th> Game ID </th>
            <th> Box Name </th>
            <th> Entry Fee </th>
            <th> Payout Type </th>
            <th> Available Entries </th>
        </tr>
            {% for row in game_list %}
            <tr>
                <form action="{{ url_for("display_box") }}", method="post", name="boxid", value="{{ row[0] }}">
                <td><input type="submit" value="{{ row[0] }}" name="boxid"></td>
                {% for field in row[1:] %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            <!--
            {% for row in game_list[-1:] %}
            <tr>
                <form action="{{ url_for("display_box") }}", method="post", name="boxid", value="{{ row[0] }}"> 
                <td><input type="submit" value"{{ row[0] }}" name="boxid"></td>
                {% for field in row[1:] %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            -->
        </table>
    </h4>
{% endblock %}

