{% extends "layout.html" %}

{% block title %}
    Game List
{% endblock %}

{% block main %}
    <h1>
        <p>
            The Gobbler
        </p>
    </h1>
    <h5><p> Thanksgiving Day Boxes - All Day All Night </p>
        <p> All entrants MUST choose 10 boxes and 10 boxes only</p>
        <p> The payouts increase in proportion to the amount of beer and wine you have consumed
        <p> If you select a box in any gobbler game, it will select that box number in all 3 </p></h5>

    <a href="{{ url_for('completed_games') }}">View Completed Games</a>
    </br>


    <h4>
        <table align = "center", cellpadding = "10">
        <tr>
            <th> Game ID </th>
            <th> Box Name </th>
            <th> Entry Fee </th>
            <th> Payout Type </th>
            <th> Available Entries </th>
        </tr>
            {% for row in game_list %}
            <tr>
                <form action="{{ url_for("display_box") }}", method="post", name="boxid", value="{{ row[0] }}">
                <td><input type="submit" value="{{ row[0] }}" name="boxid"></td>
                {% for field in row[1:] %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </h4>
{% endblock %}

