{% extends "layout.html" %}

{% block title %}
    Display Bowl Games
{% endblock %}

{% block main %}
    <h1>
        <p>
            Bowl Games
        </p>
    </h1>

    <a href="{{ url_for('select_bowl_games') }}">Refresh</a>
    </br>
    <p> Click team name to select.  Be sure to click submit when done.</p>
    <h4>
        <form action="{{ url_for('select_bowl_games') }}" method="POST">
        <input class="pick" type="submit" value="Submit Picks"></br>
        <img src="https://media2.giphy.com/media/3og0IR5hF5th7bVV9C/giphy.gif?cid=ecf05e47fpokmng5vdpy714k1eb9l27peb9bsz4bws176og4&rid=giphy.gif&ct=g"></br>
        <table align = "center", cellpadding = "10">
        <tr>
            <th> Game </th>
            <th> Line </th>
            <th> Team </th>
            <th> Score </th>
            <th> Pick </th>
        </tr>
            {% for game in game_dict %}
                {% if game_dict[game]['headline']|length > 0 %}
                <tr>
                    <td colspan="5" class="headline" style="border-bottom-color: lightgreen; font-weight: bold; font-size: large;">{{ game_dict[game]['headline'] }}</td>
                </tr>
                {% endif %}
                <tr><td colspan="5" class="headline">{{ game_dict[game]['date'] }}</td></tr>
                {% for team in game_dict[game]['competitors'] %}
                    {% if game_dict[game]['datetime'] > now %}
                    <tr>
                        {% if loop.index == 1 %}
                        <td rowspan="2" class="ptd" style="width: 60px;">{{ game }}</td>
                        {% endif %}
                        <!-- <td class="ptd" style="width: 60px;">{{ team[0] }}</td> -->
                        {% if game_dict[game]['abbreviations'][team[0]] == game_dict[game]['line'][0] %}
                            <td class="ptd" style="width: 60px;">{{ game_dict[game]['line'][1] }}</td>
                        {% elif game_dict[game]['line'][0] == 'EVEN' %}
                        <td class="ptd" style="width: 60px;">{{ game_dict[game]['line'][0] }}</td>
                        {% else %}
                            <td class="ptd" style="width: 60px;"></td>
                        {% endif %}
                        <td class="team" style="width:250px; text-align: left;" onClick="change('{{ game_dict[game]['abbreviations'][team[0]] }}', {{ game_dict[game]['espn_id'] }}, 0)"> {{ team[1] }} </td>
                        <td class="ptd" style="width: 60px;">{{ team[2] }}</td>
                        {% if loop.index == 1 %}
                            {% if game_dict[game]['espn_id'] in picks %}
                            <td rowspan="2" class="pick"> <input class="pick" type="text" id="{{ game_dict[game]['espn_id'] }}" name="{{ game_dict[game]['espn_id'] }}" value="{{ picks[game_dict[game]['espn_id']] }}" readonly> </td>
                            {% else %}
                            <td rowspan="2" class="pick"> <input class="pick" type="text" id="{{ game_dict[game]['espn_id'] }}" name="{{ game_dict[game]['espn_id'] }}" value="TBD" readonly></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    {% else %}
                    <tr>
                        {% if loop.index == 1 %}
                        <td rowspan="2" class="locked_ptd" style="width: 60px;">{{ game }}</td>
                        {% endif %}
                        <td class="locked_ptd" style="width: 60px;">{{ team[0] }}</td>
                        <td class="locked_team" style="width:200px; text-align: left;">{{ team[1] }} </td>
                        <td class="locked_ptd" style="width: 60px;">{{ team[2] }}</td>
                        {% if loop.index == 1 %}
                            {% if game_dict[game]['espn_id'] in picks %}
                            <td rowspan="2" class="pick">{{ picks[game_dict[game]['espn_id']] }}</td>
                            {% else %}
                            <td rowspan="2" class="pick">TBD</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
            <tr><td colspan="5" style="background-color:black;"></td></tr>
            {% endfor %}
        </table>
        <input class="pick" type="submit" value="Submit Picks">
        </form>
    </h4>

    <img src="https://media3.giphy.com/media/3ohzdIuqJoo8QdKlnW/giphy.gif?cid=ecf05e47fpokmng5vdpy714k1eb9l27peb9bsz4bws176og4&rid=giphy.gif&ct=g" style="display: block; width: 120%; height: auto;">

    <script type="text/javascript">
        function change(value, id, locked) {
        id.toString();
        console.log("got to change value");
        console.log(value, id, locked);
        var elem = document.getElementById(id.toString());
        console.log(document.getElementById(id.toString()));
        console.log(elem)
        console.log(typeof id.toString());
        console.log(typeof locked);
        if (locked == 0) {
            elem.value = value.toUpperCase();
        } else {
            window.alert("Too late - game is locked");
        }
    }
    </script>
{% endblock %}

