{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <h2>
        <p>
            {{ box_name }} </br>
        <p>
    </h2>
    <h3>
        <p>
            Entry Fee: {{ fee }}
            Boxes Available: {{ avail }} </br>
        </p>
    </h3>
    <h4>
        <p>
            {{ payout }} </br>
            <!--
            {{ final_payout }}
            -->
        </p>
        <p> Click your selection again to 'undo' pick. </p>
    </h4>
    <h4><p>{{ num_selection }}</p>
    <!--
    <a href="{{ url_for("current_winners", boxid=boxid) }}">Click here for list of current winners</a>
    -->
    <!--
    </br>
    </br>
    <a href="{{ url_for("payment_status") }}">Click here for payment status of all users</a>
    -->
    
    <!--
    <p> Randomize Selection </p> 
    <form name="randform" id="randform" action="{{ url_for("select_box") }}",  method="POST">
        <input type="text" name="rand" id="rand" size="5" placeholder="# boxes">
        <input type="hidden" name="boxid" value="{{ boxid }}">
        <input type="submit" onClick="return empty()">
    </form>
    -->

<div>
    <table id="grid" align="center">
        <h3>
        <!--
        <tr>
        <td></td>
        <td></td>
        {% for n in range(0,10) %}
            <td>
                <form action="{{ url_for("select_box") }}", method="POST">
                <button type="submit" value="{{ loop.index0 }}" name="column">Select Column</button>
                <input type="hidden" name="boxid" value="{{ boxid }}">
                </form>
            </td>
        {% endfor %}
        </tr>
        -->
        </h3>
        <h1>
        <!--
        <tr><td style="background-color: #aaa" colspan="12"><strong style="font-size:  30px; letter-spacing: 5px">{{ home[0:3] }}</td></tr>
        -->
        <tr>
        <td class="BYG" colspan="2" style="border-bottom: solid blue;"><strong style="font-size: 30px;">BYG</td>
        <td class="{{ home }}" colspan="10" style="border-bottom: solid black;"><strong style="font-size:  30px; letter-spacing: 5px">{{ home[0:3] }}</td></tr>
        <tr>
        <td class="BYG" colspan="2" style="border-bottom: 1px solid black;">Box: {{ boxid }} </td>
        {% for num in x %}
            <h1><td class="{{ home }}"><strong style="font-size: 30px"> {{ x[loop.index0|string] }} </strong></td></h1>
        {% endfor %}
        </tr>
        </h1>
        <h3>
        {% for row in grid %}
        {% set outer_loop = loop %}
        <tr>
            <h1><td class="{{ away }}"><strong style="font-size: 30px"> {{ away_team[outer_loop.index0|string] }} </strong></td></h1>
            <h1><td class="{{ away }}" style="border-bottom: 2px solid black;"><strong style="font-size: 30px"> {{ y[outer_loop.index0|string] }} </strong></td></h1>
            {% for box in row %}
                {% if box[1] == session['username'] %}
                <td class="user_box" onClick="document.getElementById('{{- box[0]|int -}}').submit()">
                    <form action="{{ url_for("select_box") }}", id="{{- box[0]|int -}}" method="POST">
                    <!-- <input type="submit" value="{{- box[0]|int -}}" name="box_num"><br> </br>{{- box[1] -}} -->
                    <input type="hidden" name="boxid", value="{{ boxid }}">
                    <input type="hidden" name="box_num" value="{{- box[0]|int -}}">
                    {% set bnum = outer_loop.index0|int * 10 + loop.index|int %}
                    <p class="corner"> {{ bnum }}</p>
                    {{- box[1][:10] -}}
                    </form>
                </td>
                {% elif box[1] in winner_dict %}
                <td class="winning_box" onClick="document.getElementById('{{- box[0]|int -}}').submit()">
                    <form action="{{ url_for("select_box") }}", id="{{- box[0]|int -}}" method="POST">
                    <!-- <input type="submit" value="{{- box[0]|int -}}" name="box_num"><br> </br>{{- box[1] -}} -->
                    <input type="hidden" name="boxid", value="{{ boxid }}">
                    <input type="hidden" name="box_num" value="{{- box[0]|int -}}">
                    {% set bnum = outer_loop.index0|int * 10 + loop.index|int %}
                     <p class="corner"> {{ bnum }}</p>
                    {{- box[1][:10] -}}
                    </form>
                </td>
                {% elif box[1] != 'Available ' %}
                <td class="taken_box" onClick="document.getElementById('{{- box[0]|int -}}').submit()">
                    <form action="{{ url_for("select_box") }}", id="{{- box[0]|int -}}" method="POST">
                    <!-- <input type="submit" value="{{- box[0]|int -}}" name="box_num"><br> </br>{{- box[1] -}} -->
                    <input type="hidden" name="boxid", value="{{ boxid }}">
                    <input type="hidden" name="box_num" value="{{- box[0]|int -}}">
                    {% set bnum = outer_loop.index0|int * 10 + loop.index|int %}
                     <p class="corner"> {{ bnum }}</p>
                    {{- box[1][:10] -}}
                    </form>
                </td>
                {% else %}
                <td class="box" onClick="document.getElementById('{{- box[0]|int -}}').submit()">    
                    <form action="{{ url_for("select_box") }}", id="{{- box[0]|int -}}" method="POST">
                    <!-- <input type="submit" value="{{- box[0]|int -}}" name="box_num"><br> </br>{{- box[1] -}} -->
                    <input type="hidden" name="boxid", value="{{ boxid }}">
                    <input type="hidden" name="box_num" value="{{- box[0]|int -}}">
                    {% set bnum = outer_loop.index0|int * 10 + loop.index|int %}
                    <p class="corner" style="color: black;"> {{ bnum }}</p>
                    {{- box[1][:10] -}}
                    </form>
                </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </h3>
    </table>
    </div>
{% endblock %}




