{% extends "layout.html" %}

{% block title %}
    Enter Custom Game Scores
{% endblock %}

{% block main %}
    <form action="{{ url_for('enter_custom_scores') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="boxid" placeholder="boxid" type="text" size="5"/>
                </br>
                <input class="form-control" name="x1" placeholder="x1 qtr" type="text" size="5"/>
                <input class="form-control" name="y1" placeholder="y1 qtr" type="text" size="5"/>
                </br>
                <input class="form-control" name="x2" placeholder="x2 qtr" type="text" size="5"/>
                <input class="form-control" name="y2" placeholder="y2 qtr" type="text" size="5"/>
                </br>
                <input class="form-control" name="x3" placeholder="x3 qtr" type="text" size="5"/>
                <input class="form-control" name="y3" placeholder="y3 qtr" type="text" size="5"/>
                </br>
                <input class="form-control" name="x4" placeholder="x final" type="text" size="5"/>
                <input class="form-control" name="y4" placeholder="y final" type="text" size="5"/>
                </br>
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </fieldset>
    </form>

{% endblock %}
