{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>
        <p>
            Welcome to Daily Box
        </p>
    </h1>
    
    <table align = "center", cellpadding = "30">
        <h3>
        <tr>
        {% for num in x[:1] %}
            <td></td>
        {% endfor %}
        {% for num in x[1:] %}
            <!-- <td> {{ num }} </td> -->
            <td> X </td>
        {% endfor %}
        </tr>
        {% for row in grid %}
        <tr>
            <!-- <td> {{ y[loop.index0] }} </td>  -->
            <td> Y </td>
            {% for box in row %}
            <td>
                {%- for num in box -%}
                {{- num -}}
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </h3>
    </table>

    <h2><p> Click on <a href="{{ url_for('game_list') }}">Game List</a> to Join </p></h2>




{% endblock %}



