{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>
        <p>
            Welcome to the Super Bowl Every Score Pool
        </p>
        <!-- NUTCRACKER -->
        <!-- <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTZvDv5HELwpfDgdjYurjni6bqaE12RE9Iukdzm4qRxP6VteRNWwLL2ItmfEJyu7v_DTm6e1CfBNVkHPwP5oaa3krnQRrKrEc5Li_Sp2348Mmdrn7sNo_X_vQ&usqp=CAc"> -->
        
        <!-- SUPERBOWL 54 LIV -->
        <img src="https://upload.wikimedia.org/wikipedia/en/3/3d/Super_Bowl_LIV.png">
    </h1>
    
    <table align = "center", cellpadding = "30">
        <h3>
        <tr>
        {% for num in x[:1] %}
            <td></td>
        {% endfor %}
        {% for num in x[1:] %}
            <!-- <td> {{ num }} </td> -->
            <td> X </td>
        {% endfor %}
        </tr>
        {% for row in grid %}
        <tr>
            <!-- <td> {{ y[loop.index0] }} </td>  -->
            <td> Y </td>
            {% for box in row %}
            <td>
                {%- for num in box -%}
                {{- num -}}
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </h3>
    </table>

    <h2><p> Click on <a href="{{ url_for('custom_game_list') }}">Game List</a> to Join </p></h2>




{% endblock %}



