{% extends "layout.html" %}

{% block title %}
    Live Scores
{% endblock %}

{% block main %}
    <h1>
        <p>
            Live Scores
        </p>
    </h1>

    <a href="{{ url_for('live_scores') }}">Live Scores</a>
    </br>
    <h4>
        <table align = "center", cellpadding = "10">
        <tr>
            <th> Game Number </th>
            <th> H/A </th>
            <th> Team </th>
            <th> Score </th>
        </tr>
            {% for game in game_dict %}
                {% for team in game_dict[game]['competitors'] %}
                <tr>
                    <td> {{ game }} </td>
                    <td>{{ team[0] }}</td>
                    <td>{{ team[1] }}</td>
                    <td>{{ team[2] }}</td>
                </tr>
                {% endfor %}
            <tr><td class="scores"></td><td class="scores"></td><td class="scores"></td><td class="scores"></td></tr>
            {% endfor %}
        </table>
    </h4>
{% endblock %}

