{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="{{ url_for('login') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Log In</button>
            </div>
        </fieldset>
    </form>

    <p>
        <h3>
            Gobbler, Nutcracker, Every Score pools, playoff pickem, you name it... </br>
            Brought to you by BYGaming...
        </h3>
    </p>
    <!--
    <p>
        <h3>
            Every TD, Every FG, Every XP, Every Safety, Every 2-pt Conversion WINS
        </h3>
    </p>
    <p>
        <h3>
            Numbers are generated randomly as soon as all particpants have paid.
        </h3>
    </p>
    -->

    <img src="https://64.media.tumblr.com/4009e5a651f408dd772d3a959e34bb47/tumblr_mjvtz65CL61s8s5dto1_500.jpg">
{% endblock %}
