{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="{{ url_for('login') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Log In</button>
            </div>
        </fieldset>
    </form>

    <p>
        <h3>
            Gobbler - All 3 Thanksgiving Day Game Boxes in One
        </h3>
    </p>
    <!--
    <p>
        <h3>
            Every TD, Every FG, Every XP, Every Safety, Every 2-pt Conversion WINS
        </h3>
    </p>
    -->
    <p>
        <h3>
            Numbers are generated randomly as soon as the last box is selected.
        </h3>
    </p>
{% endblock %}
