{% extends "layout.html" %}

{% block title %}
    My Games
{% endblock %}

{% block main %}
    <h1>
        <p>
            My Games
        </p>
    </h1>

    <form action="{{ url_for("my_games") }}", method="POST", name="active" value="0">
    <input type="radio" id="Active" name="active" value=True checked>
    <label for="Active">Active</label>
    <input type="radio" id="Complete" name="active" value=False onclick="this.form.submit()">
    <label for="Complete">Complete</label>
    </form>
    </br>
    <p>
        Total Active Picks:  {{ total }}
    </p>

    <h4>
        <table align = "center", cellpadding = "10">
        <tr>
            <th> Game ID </th>
            <th> Box Name </th>
            <th> Box Number </th>
            <th> Name Alias</th>
            <th> Entry Fee </th>    
            <th> Payout Type </th>
            <th> Home # </th>
            <th> Away # </th>
            <th> Available Entries </th>
        </tr>
            {% for row in game_list %}
            <tr>
                <td class="team" onClick="document.getElementById('{{ row[0] }}').submit()">
                <form action="{{ url_for("display_box", uat=0) }}", method="post", id="{{ row[0] }}">
                <input type="hidden" value="{{ row[0] }}" name="boxid">
                {{ row[0] }}
                </form>
                </td>
                {% for field in row[1:] %}
                    <td>{{ field }}</td>
                {% endfor %}
                <td> {{ available[row[0]] }}</td>
            </tr>
            {% endfor %}
        </table>
    </h4>
{% endblock %}

