{% extends "layout.html" %}

{% block title %}
    My Games
{% endblock %}

{% block main %}
    <h1>
        <p>
            My Games
        </p>
    </h1>

    <form action="{{ url_for("my_games") }}", method="POST", name="active" value="0">
    <input type="radio" id="Active" name="active" value=True checked>
    <label for="Active">Active</label>
    <input type="radio" id="Complete" name="active" value=False onclick="this.form.submit()">
    <label for="Complete">Complete</label>
    </form>
    </br>

    <h4>
        <table align = "center", cellpadding = "10">
        <tr>
            <th> Game ID </th>
            <th> Box Name </th>
            <th> Box Number </th>
            <th> Entry Fee </th>    
            <th> Payout Type </th>
            <th> Home # </th>
            <th> Away # </th>
            <th> Available Entries </th>
        </tr>
            {% for row in game_list %}
            <tr>
                <form action="{{ url_for("display_box") }}", method="post", name="boxid", value="{{ row[0] }}">
                <td><input type="submit" value="{{ row[0] }}" name="boxid"></td>
                {% for field in row[1:] %}
                    <td>{{ field }}</td>
                {% endfor %}
                <td> {{ available[row[0]] }}
            </tr>
            {% endfor %}
        </table>
    </h4>
{% endblock %}

