{% extends "layout.html" %}

{% block title %}
    My Games
{% endblock %}

{% block main %}
    <h1>
        <p>
            My Games
        </p>
    </h1>

    <form action="{{ url_for("my_games") }}", method="POST", name="active" value="0">
    <input type="radio" id="Active" name="active" value=True checked>
    <label for="Active">Active</label>
    <input type="radio" id="Complete" name="active" value=False onclick="this.form.submit()">
    <label for="Complete">Complete</label>
    </form>
    </br>
    <p>
        Total Active Picks:  {{ total }}
    </p>

    <h4>
        <table align = "center", cellpadding = "10">
        <tr>
            <th> Game ID </th>
            <th> Box Name </th>
            <th> Box Number </th>
            <th class="CellWithComment"> Name Alias <span class="CellComment">{{ hover_text_1 }} <br> {{ hover_text_2 }}</span></th>
            <th> Entry Fee </th>    
            <th> Payout Type </th>
            <th> Home # </th>
            <th> Away # </th>
            <th> Available Entries </th>
        </tr>
            {% for row in game_list %}
            <tr>
                <td class="team" onClick="document.getElementById('{{ row[0] }}').submit()">
                <form action="{{ url_for("display_box", uat=0) }}", method="post", id="{{ row[0] }}">
                <input type="hidden" value="{{ row[0] }}" name="boxid">
                {{ row[0] }}
                </form>
                </td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                {% if row[3]|length > 0 %}
                    <td>{{ row[3] }}</td>
                {% else %}
                    <td class="team" onClick="document.getElementById('{{ row[0] }} {{ row[2] }}').submit()">
                    <form action="{{ url_for("create_alias") }}", method="POST", id="{{ row[0] }} {{ row[2] }}">
                        <input type="hidden" value="({{ row[0] }}, {{ row[2] }})" name="alias_boxnum">
                        Change box label
                        <span class="CellComment">
                            {{ hover_text }}
                        </span>
                    </form>
                    </td>
                    {% endif %}
                {% for field in row[4:] %}
                    <td>{{ field }}</td>
                {% endfor %}
                <td> {{ available[row[0]] }}</td>
            </tr>
            {% endfor %}
        </table>
    </h4>
{% endblock %}

