{% extends "base.html" %}
{% block navbar_links %}
<li><a href="{{ url_for('pickem.display_pickem_games') }}">Select Games</a></li>
<li><a href="{{ url_for('pickem.view_all_picks') }}">View All Picks</a></li>
<li><a href="{{ url_for('pickem.bowl_payment_status') }}">Payment Status</a></li>
<li><a href="{{ url_for('pickem.pickem_rules') }}">Pickem Rules</a></li>
{% endblock %}

{% block title %}
    Display NCAAB Games
{% endblock %}

{% block main %}
    <h1>
        <p>
            NCAAB Games
        </p>
    </h1>

    {{ events }}
    {{ scores }}
{% endblock %}

