{% extends "layout.html" %}

{% block title %}
    Payment Status
{% endblock %}

{% block main %}
    <h1>
        <p>
            Payment Status for all Users (public shaming)
        </p>
    </h1>
    <p>Sort By:</p>
    {% if priv == true %}
    <form action="{{ url_for("priv_payment_status") }}", method="POST", name="sort_method_form">
    {% else %}
    <form action="{{ url_for("payment_status") }}", method="POST", name="sort_method_form">
    {% endif %}
        {% if sort_method == "id" %}
        <input type="radio" id="ID" name="sort_method" value="id" onclick="this.form.submit()" checked>
        {% else %}
        <input type="radio" id="ID" name="sort_method" value="id" onclick="this.form.submit()">
        {% endif %}
        <label for="ID">ID</label>
        {% if sort_method == "user" %}
        <input type="radio" id="username" name="sort_method" value="user" onclick="this.form.submit()" checked>
        {% else %}
        <input type="radio" id="username" name="sort_method" value="user" onclick="this.form.submit()">
        {% endif %}
        <label for="username">Username</label>
        {% if sort_method == "pay_status" %}
        <input type="radio" id="pay_status" name="sort_method" value="pay_status" onclick="this.form.submit()" checked>
        {% else %}
        <input type="radio" id="pay_status" name="sort_method" value="pay_status" onclick="this.form.submit()">
        {% endif %}
        <label for="pay_status">Payment Status</label>
        <input type="hidden" value="{{ boxid }}" name="boxid">
    </form>
    
    <h4>
        {% if session['userid'] in admins %}
        <table align = "center", name="user_table", class="user_table", cellpadding = "10">
            <tr>
                <th> userid </th>
                <th> username </th>
                <th> # active boxes </th>
                <th> total fees </th>
                <th> amt paid </th>
                <th> paid in full?</th>
                <th> mark paid </th>
            </tr>
            {% for user in users %}
            <tr>
                {% for field in user %}
                <td>{{ field }}</td>
                {% endfor %}
                <td>{{ d[user[0]] }}</td>
                <td class="f">{{ fees[user[0]] }}</td>
                <td id="p">{{ paid[user[0]] }} </td>
                <td> {{ emoji[user[0]] }} </td>
                {% if priv == true %}
                <td><form action="{{ url_for('priv_mark_paid') }}" method="POST">
                {% else %}
                <td><form action="{{ url_for('mark_paid') }}" method="POST">
                {% endif %}
                    <input type="submit" value="{{ user[0] }}" name="userid">
                    <input type="hidden" value="True" name="paid">
                    <input type="hidden" value="{{ sort_method }}" name="sort_method">
                    <input type="hidden" value="{{ fees[user[0]] }}" name="fees">
                    <input type="hidden" value="{{ paid[user[0]] }}" name="amt_paid">
                    <input type="hidden" value="{{ boxid }}" name="boxid">
                </form></td>
            </tr>
            {% endfor %}
        </table>

        {% else %}

        <table align = "center", name="user_table", class="user_table", cellpadding = "10">
            <tr>
                <th> userid </th>
                <th> username </th>
                <th> # active boxes </th>
                <th> total fees </th>
                <th> amt paid </th>
            </tr>
            {% for user in users %}
            <tr>
                {% for field in user %}
                <td>{{ field }}</td>
                {% endfor %}
                <td>{{ d[user[0]] }}</td>
                <td class="f">{{ fees[user[0]] }}</td>
                <td id="p">{{ paid[user[0]] }} </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </h4>

{% endblock %}

