{% extends "layout_bowls.html" %}

{% block title %}
    Rules and Past Winners
{% endblock %}

{% block main %}
    <h1>
        <p>
            Rules and Past Winners
        </p>
    </h1>
    <h4>
        <p>
            The Holy Grail of gambling is going <del>11-0</del> 13-0 in the NFL playoffs.  Can you do it? <br> None of these past winners below have come within even 3 games of it.
        </p>
    </h4>

    <h4>
        <table align = "center", cellpadding = "10">
            <th> Year </th>
            <th> Winner </th>
            <tr><td> 2010 </td><td> Rob Cannella </td></tr>
            <tr><td> 2011 </td><td> Jin Kye / Chris Greenfield </td></tr>
            <tr><td> 2012 </td><td> Kevin Murphy </td></tr>
            <tr><td> 2013 </td><td> Orlando Ferguson </td></tr>
            <tr><td> 2014 </td><td> Rob Gorozdi / Dan Heslin </td></tr>
            <tr><td> 2015 </td><td> Harrison Katz </td></tr>
            <tr><td> 2016 </td><td> Orlando Furguson </td></tr>
            <tr><td> 2017 </td><td> Matt Mignone </td></tr>
            <tr><td> 2018 </td><td> Gerard Grecco </td></tr>
            <tr><td> 2019 </td><td> Nick Laveglia </td></tr>
            <tr><td> 2020 </td><td> Carlos Santiago </td></tr>
            <tr><td> 2021 </td><td> Gerard Grecco </td></tr>
            <tr><td> 2022 </td><td> Carlos Santiago </td></tr>
            <tr><td> 2023 </td><td> Brent Uttz </td></tr>
            <tr><td> 2024 </td><td> Brian Jakubowski </td></tr>
            <tr><td> 2025 </td><td> ?? </td></tr>

        </table>
    </br>
    </h4>
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIivcmI8dJ5R7q4RXPu_y1su3xFo_73cjnWQ&usqp=CAU">
    </br>

    <h2> Rules </h2>
    <div class="rules">
    <p> <del>Pool is limited to 40 people</del> No longer limited. </p>
    <p> Pick each team versus spread, most correct throughout entire playoffs takes all </p>
    <p> Lines lock 1 hour prior to scheduled kickoff </p>
    <p> To prevent pushes, if even number spread in Super Bowl .5 will be added to the favorite </p>
    <p> If Super Bowl line is 'pickem' the 'home' team will be a .5 favorite </p>
    <p> Tie breaker will be the Superbowl overall point total.  Closest to overall score wins (NOT "price is right" rules) </p>
    <p> Detailed tie break scenarios will be sent out the week before the Superbowl (the site auto-calculates the winner) </p>
    <p> If you do not enter picks prior to scheduled kickoff, the site locks and you will not accumulate wins for that game, sorry (but not sorry) </p>
    <p> Entry is 50 </p>
    </div>
{% endblock %}

