{% extends "layout.html" %}

{% block title %}
    Pickem All Games
{% endblock %}

{% block main %}
    <h1>
        <p>
            Playoff Pickem - All Games <br>
        </p>
    </h1>
        <p> User picks remain hidden until game locks </p>
        <p> Spreads not final until Friday - set according to NY Post </p>
        {% if eliminated_list|length > 0 %}
            <p> If your name is in <em style="color: red">RED</em>, see you next year... </p>
        {% endif %}
        <p> HOME team in CAPS </p>
        <a href="{{ url_for('pickem_game_list') }}">Jump to enter your picks</a>
    </br>
    {% if winning_user|length > 0 %}
        <h2 style="color: green; font-weight: bold"> {{ winning_user }} </h2>
    {% endif %}
    {% if tie_break_log|length > 0 %}
        Tie Break Details: </br>
        {% for log in tie_break_log[:1] %}
            <p style="color: green; margin: 0; padding: 0"> {{ log }} </p>
        {% endfor %}
        {% for log in tie_break_log[1:] %}
            <p style="color: red; margin: 0; padding: 0"> {{ log }} </p>
        {% endfor %}
    {% endif %}
        
    <h4>
        <table class="pickem_table" align="center">
        <tr>
            <th rowspan="2" style="width: 250px; border-right: 5px solid black"> Username </th>
            <th> WC<br> 1   </th>
            <th> WC<br> 2   </th>
            <th> WC<br> 3   </th>
            <th> WC<br> 4   </th>
            <th> WC<br> 5   </th>
            <th> WC<br> 6   </th>
            <th> DIV<br> 7 </th>
            <th> DIV<br> 8 </th>
            <th> DIV<br> 9 </th>
            <th> DIV<br> 10 </th>
            <th> Conf<br> 11 </th>
            <th> Conf<br> 12 </th>
            <th> Super Bowl </th>
            <th rowspan="3" style="border-left: 5px solid black"> SB Tie Break </th>
            <th rowspan="3"> Wins </th>
        </tr>
        <tr>
        {% for col in game_details %} 
            <th class="all_picks" style="width: 200px; font-size: 12px">{{ col }} </th>
        {% endfor %}
        </tr>
        <tr>
            <th style="font-size: 12px; text-align: right; background-color: black; color: white"> Winner: </th>
            {% for n in range(1,14) %}
            <th style="font-size: 12px; background-color: black; color: white" id={{ n }}>{{ game_dict[n].winner }} </th>
            {% endfor %}
        </tr>
        {% for user in user_picks %}
        <tr>
            {% if user in winner %}
                <td class="winning_user" style="text-align: left; border-right: 5px solid black">{{ crown }} {{ user }}</td>
            {% elif user == current_username %}
                <td class="current_user" style="text-align: left; border-right: 5px solid black">{{ user }} </td>
            {% elif user in eliminated_list %}
                <td class="eliminated" style="text-align: left; border-right: 5px  solid black">{{ user }} </td>
            {% else %}
                <td style="font-size: 14px; font-weight: bold; text-align: left; border-right: 5px solid black">{{ user }}</td>
            {% endif %}
            {% for n in range(1,14) %}
                {% if user_picks[user].picks[n]  == game_dict[n].winner %}
                    {% if user == current_username %}
                        <td class="winner_cu">{{ user_picks[user].picks[n] }}</td>
                    {% else %}
                        <td class="winner">{{ user_picks[user].picks[n] }} </td>
                    {% endif %}
                {% elif game_dict[n].winner == "TBD" %}
                    {% if user == current_username %}
                        <td class="current_user">{{ user_picks[user].picks[n] }} </td>
                    {% else %}
                        <td>{{ user_picks[user].picks[n] }} </td>
                    {% endif %}
                {% else %}
                    {% if user == current_username %}
                        <td class="loser_cu">{{ user_picks[user].picks[n] }}</td>
                    {% else %}
                        <td class="loser">{{ user_picks[user].picks[n] }} </td>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if user == current_username %}
                <td class="current_user" style="border-left: 5px solid black">{{ tb_dict[user] }}</td>
                <td class="current_user">{{ user_picks[user].win_count }} </td>
            {% else %}
                <td style="border-left: 5px solid black">{{ tb_dict[user] }}</td>
                <td style="font-size: 16px; font-weight: bold">{{ user_picks[user].win_count }} </td>
            {% endif %}
        </tr>
        {% endfor %}
        </table>


















{% endblock %}

