{% extends "layout.html" %}

{% block title %}
    Pickem Game List
{% endblock %}

{% block main %}
    <h1>
        <p>
            Playoff Pickem Pool <br>
    </h1>
            Pick all 13 playoff games against the spread.<br>
            Best record wins.  Click on team in table to select.<br>
            Home team in CAPS.
        </p>

    </br>


    <h4>
        <form action="{{ url_for('select_pickem_games') }}" method="POST">
        <table class="pickem_table" align="center">
        <tr>
            <th> Game ID </th>
            <th> Fav </th>
            <th> Spread </th>
            <th> Dog </th>
            <th style="border-left-width: thick"> Pick </th>
        </tr>
        {% if game_dict[1].locked == 0 and game_dict[1].fav != "TBD" %}
        {% for row in game_list[:6] %}        
        <tr>
            <td class="ptd">{{ row }}</td>
            <td class="team" onClick="change('{{ game_dict[row].fav }}', '{{ row }}', {{ game_dict[row].locked }})">{{ game_dict[row].fav }}</td>
            <td class="ptd">{{ game_dict[row].spread }}</td>
            <td class="team" onClick="change('{{ game_dict[row].dog }}', '{{ row }}', {{ game_dict[row].locked }})">{{ game_dict[row].dog }}</td>
            <td class="pick">
                <input class="pick" type="text" id="{{ row|int }}" name="{{ row|int }}" value="{{ user_picks[row] }}" readonly>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        {% for row in game_list[:6] %}
        <tr>
            <td class="locked_ptd">{{ row }}</td>
            <td class="locked_team" onClick="change('{{ game_dict[row].fav }}', '{{ row }}', {{ game_dict[row].locked }})">{{ game_dict[row].fav }}</td>
            <td class="locked_ptd">{{ game_dict[row].spread }}</td>
            <td class="locked_team" onClick="change('{{ game_dict[row].dog }}', '{{ row }}', {{ game_dict[row].locked }})">{{ game_dict[row].dog }}</td>
            <td class="pick">
                <input class="pick" type="text" id="{{ row|int }}" name="{{ row|int }}" value="{{ user_picks[row] }}" readonly>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </table>

        <table align="center">
        {% if game_dict[7].locked == 0 and game_dict[7].fav != "TBD" %}
        {% for row in game_list[6:10] %}
        <tr>
            <td class="ptd">{{ row }}</td>
            <td class="team" onClick="change('{{ game_dict[row].fav }}', '{{ row }}', {{ game_dict[row].locked }})">{{ game_dict[row].fav }}</td>
            <td class="ptd">{{ game_dict[row].spread }}</td>
            <td class="team" onClick="change('{{ game_dict[row].dog }}', '{{ row }}', {{ game_dict[row].locked }})">{{ game_dict[row].dog }}</td>
            <td class="pick">
                <input class="pick" type="text" id="{{ row|int }}" name="{{ row|int }}" value="{{ user_picks[row] }}" readonly>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        {% for row in game_list[6:10] %}
        <tr>
            <td class="locked_ptd">{{ row }}</td>
            <td class="locked_team" onClick="change('{{ game_dict[row].fav }}', '{{ row }}', {{ game_dict[row].locked }})">{{ game_dict[row].fav }}</td>
            <td class="locked_ptd">{{ game_dict[row].spread }}</td>
            <td class="locked_team" onClick="change('{{ game_dict[row].dog }}', '{{ row }}', {{ game_dict[row].locked }})">{{ game_dict[row].dog }}</td>
            <td class="pick">
                <input class="pick" type="text" id="{{ row|int }}" name="{{ row|int }}" value="{{ user_picks[row] }}" readonly>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </table>

        <table align="center">
        {% if game_dict[11].locked == 0 and game_dict[11].fav != "TBD" %}
        {% for row in game_list[10:12] %}
        <tr>
            <td class="ptd">{{ row }}</td>
            <td class="team" onClick="change('{{ game_dict[row].fav }}', '{{ row }}', {{ game_dict[row].locked }})">{{ game_dict[row].fav }}</td>
            <td class="ptd">{{ game_dict[row].spread }}</td>
            <td class="team" onClick="change('{{ game_dict[row].dog }}', '{{ row }}', {{ game_dict[row].locked }})">{{ game_dict[row].dog }}</td>
            <td class="pick">
                <input class="pick" type="text" id="{{ row|int }}" name="{{ row|int }}" value="{{ user_picks[row] }}" readonly>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        {% for row in game_list[10:12] %}
        <tr>
            <td class="locked_ptd">{{ row }}</td>
            <td class="locked_team" onClick="change('{{ game_dict[row].fav }}', '{{ row }}', {{ game_dict[row].locked }})">{{ game_dict[row].fav }}</td>
            <td class="locked_ptd">{{ game_dict[row].spread }}</td>
            <td class="locked_team" onClick="change('{{ game_dict[row].dog }}', '{{ row }}', {{ game_dict[row].locked }})">{{ game_dict[row].dog }}</td>
            <td class="pick">
                <input class="pick" type="text" id="{{ row|int }}" name="{{ row|int }}" value="{{ user_picks[row] }}" readonly>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </table>
        <table align="center">
        {% if game_dict[13].locked == 0 and game_dict[13].fav != "TBD" %}
        <tr>
            <td class="ptd">13</td>
            <td class="team" onClick="change('{{ game_dict[13].fav }}', 13, {{ game_dict[13].locked }})">{{ game_dict[13].fav }}</td>
            <td class="ptd">{{ game_dict[11].spread }}</td>
            <td class="team" onClick="change('{{ game_dict[13].dog }}', 13, {{ game_dict[13].locked }})">{{ game_dict[13].dog }}</td>
            <td class="pick">
                <input class="pick" type="text" id="13" name="13" value="{{ user_picks[13] }}" readonly>
            </td>
        </tr>
        {% if game_dict[13].spread != 0 %}
        <tr>
            <td class="ptd" colspan="4" style="text-align: right">Enter Superbowl Total Points Tie Breaker Here:</td>
            <td class="pick">
                <input class="pick" type="text" id="tb" name="tb" value="{{ user_picks['tb'] }}" style="background-color: white;">
            </td>
        </tr>
        {% endif %}
        {% else %}
        <tr>
            <td class="locked_ptd">13</td>
            <td class="locked_team" onClick="change('{{ game_dict[13].fav }}', 13, {{ game_dict[13].locked }})">{{ game_dict[13].fav }}</td>
            <td class="locked_ptd">{{ game_dict[13].spread }}</td>
            <td class="locked_team" onClick="change('{{ game_dict[13].dog }}', 13, {{ game_dict[13].locked }})">{{ game_dict[13].dog }}</td>
            <td class="pick">
                <input class="pick" type="text" id="13" name="13" value="{{ user_picks[13] }}" readonly>
            </td>
        </tr>
        {% if game_dict[13].spread != 0 %}
        <tr>
            <td class="locked_ptd" colspan="4" style="text-align: right">Enter Superbowl Total Points Tie Breaker Here:</td>
            <td class="pick">
                <input class="pick" type="text" id="tb" name="tb" value="{{ user_picks['tb'] }}" style="background-color: white;" readonly>
            </td>
        </tr>
        {% endif %}
        {% endif %}
        </table>
        <input class="pick" type="submit" value="Submit Picks">
        </form>

    </h4>

<img src="https://www.wmse.org/wp-content/uploads/2017/12/ralph.gif">

<script type="text/javascript">
    function change(value, id, locked) {
    id.toString();
    console.log("got to change value");
    console.log(value, id, locked);
    var elem = document.getElementById(id.toString());
    console.log(document.getElementById(id.toString()));
    console.log(elem)
    console.log(typeof id.toString());
    console.log(typeof locked);
    if (locked == 0) {
        elem.value = value.toUpperCase();
    } else {
        window.alert("Too late - game is locked");
    }
}
</script>

<script>
    function myClick(){
        console.log("got to myclick");
}
</script>

{% endblock %}

