{% extends "layout.html" %}

{% block title %}
    Private Game List
{% endblock %}

{% block main %}
    <h1>
        <p>
            Super Bowl Boxes <br>
        </p>
    </h1>
    <h5> Private games only available to you</h5>
            Click on game ID in green to join <br>

    <!-- DH TODO -->
    <!-- <a href="{{ url_for('completed_private_games') }}">View Completed Games</a> -->
    </br>

    <h1>
        {{ no_active_games_string }}
    </h1>

    <h4>
        <table align = "center", cellpadding = "10">
        <tr>
            <th> Game ID </th>
            <th> Box Name </th>
            <th> Entry Fee </th>
            <th> Payout Type </th>
            <th> Available Entries </th>
        </tr>
            {% for row in game_list %}
            <tr>
                <td class="team" onClick="document.getElementById('{{ row[0] }}').submit()">
                    <form action="{{ url_for('display_box') }}" id="{{ row[0] }}" method="POST">
                    <input type="hidden" name="boxid" value={{ row[0] }}>
                    {{ row[0] }}
                    </form>
                </td>
                {% for field in row[1:] %}
                    <td> {{ field }} </td>
                {% endfor %}
                </form>
            </tr>
            {% endfor %}
        </table>
    </h4>
{% endblock %}

