{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<script type="text/javascript">
    function onSubmit(token) {
      document.getElementById('registerForm').submit();
    }
  </script>
    <form action="{{ url_for('register') }}" id="registerForm" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password_confirm" placeholder="Password_confirm" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="email" placeholder="email" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="first_name" placeholder="First Name" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="last_name" placeholder="Last Name" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="mobile" placeholder="Mobile Number" type="text"/>
            </div>

            <div class="form-group">
                <button data-sitekey="91f9316f-66bc-4bfa-8a88-8b8a05ac22e8" data-callback="onSubmit" class="h-captcha btn btn-default" type="submit">Register</button>
            </div>

        </fieldset>
    </form>
    <div style="float: right;">
    This site is protected by hCaptcha and its
<a href="https://hcaptcha.com/privacy">Privacy Policy</a> and
<a href="https://hcaptcha.com/terms">Terms of Service</a> apply.
</div>
{% endblock %}
