{% extends "layout.html" %}

{% block title %}
    User Details
{% endblock %}

{% block main %}
    <h1>
        <p>
            User Details
        </p>
    </h1>

    <h4>
        <table align = "center", cellpadding = "10">
            <tr><td> Username </td><td>{{ user_dict['username'] }}</td></tr>
            <tr><td> First Name </td><td>{{ user_dict['first_name'] }}</td></tr>
            <tr><td> Last Name </td><td>{{ user_dict['last_name'] }}</td></tr>
            <tr><td> email </td><td>{{ user_dict['email'] }}</td></tr>
            <tr><td> Mobile</td><td>{{ user_dict['mobile'] }}</td></tr>
            <!-- <tr><td> Current Balance</td><td>{{ user_dict['balance'] }}</td></tr> -->
        </table>
    </br>
    <a href="{{ url_for('reset_password') }}">Click here to reset password</a>
    </h4>


    <p> These image(s) below will be displayed in all selected boxes for that username</p>
    <table align = "center", cellpadding = "10">
        <tr>
            <th>Username</th>
            <th>Image</th>
            <th>Upload Image</th>
            <th>Remove Image</th>
        </tr>
        <tr>
            <td>{{ session['username'] }}</td>
            {% if 'image' in user_dict %}
            <td><img src="{{ url_for('static', filename=user_dict['image']) }}" height="60" width="60"></td>
            {% else %}
            <td></td>
            {% endif %}
            <td><a href="{{ url_for('upload_file', userid=session['userid']) }}">Click here to upload a new image</a></td>
            <td><a href="{{ url_for('remove_image', userid=session['userid']) }}">Click here to display only username</a></td>
        </tr>
        {% if alias_dict %}
            {% for alias in alias_dict %}
            <tr>
                <td>{{ alias }}</td>
                {% if alias_dict[alias]|length > 0 %}
                <td><img src="{{ url_for('static', filename=alias_dict[alias]) }}" height="60" width="60"></td>
                {% else %}
                <td></td>
                {% endif %}                
                <td><a href="{{ url_for('upload_file', userid=userid_dict[alias]) }}">Click here to upload a new image</a></td>
                <td><a href="{{ url_for('remove_image', userid=userid_dict[alias]) }}">Click here to display only username</a></td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>

{% endblock %}

