{% extends "layout.html" %}

{% block title %}
    User Details
{% endblock %}

{% block main %}
    <h1>
        <p>
            User Details
        </p>
    </h1>

    <h4>
        <table align = "center", cellpadding = "10">
            <tr><td> Username </td><td>{{ user_dict['username'] }}</td></tr>
            <tr><td> First Name </td><td>{{ user_dict['first_name'] }}</td></tr>
            <tr><td> Last Name </td><td>{{ user_dict['last_name'] }}</td></tr>
            <tr><td> email </td><td>{{ user_dict['email'] }}</td></tr>
            <tr><td> Mobile</td><td>{{ user_dict['mobile'] }}</td></tr>
            <!-- <tr><td> Current Balance</td><td>{{ user_dict['balance'] }}</td></tr> -->
        </table>
    </br>
    <a href="{{ url_for('reset_password') }}">Click here to reset password</a>
    </h4>

    {% if 'image' in user_dict %}
        <p> This image below will be displayed in all of your selected boxes</p>
        <p><a href="{{ url_for('upload_file') }}">Click here to upload a new image</a></p>
        <p><a href="{{ url_for('remove_image') }}">Click here to remove existing image and only display username</a></p>
        <img src="{{ url_for('static', filename=user_dict['image']) }}">
    {% else %}
        <p>You currently do not have an image to display in your BOX selections</p>
        <p>Your username will be displayed</p>
        <p><a href="{{ url_for('upload_file') }}">Click here to upload a new image</a></p>
    {% endif %}
{% endblock %}

