{% extends "layout_bowls.html" %}

{% block title %}
    Bowls All Picks
{% endblock %}

{% block main %}
<!-- <div class="col-md-8 col-xs-12"> -->
    <h1>
        <p>
            All Users Bowl Picks <br>
        </p>
    </h1>
        
        {% if user_dict[session['userid']]['is_admin'] == 1 %}
        <h3>
        <p style="color: green; font-weight: bold"> Only admins can see this line below! </p>
        </h3>
        <p style="color: green; font-weight: bold"> Last line update in DB is: {{ last_line_time }}  and should never be more than 15 min old! </p>

        {% endif %}
        <p> User picks remain hidden until game locks at scheduled kickoff </p>
        <p> Spreads not final until 1 hr before scheduled kickoff </p>
        <p> In-Progress games are in <em style="background: navy; color: white">BLUE</em> - Win/Loss reflects current score</p>
        {% if eliminated_list|length > 0 %}
            <p> If your name is in <em style="color: red">RED</em>, see you next year... </p>
        {% endif %}
        <!-- <p> HOME team in CAPS </p> -->
        <a href="{{ url_for('display_bowl_games') }}">Jump to enter your picks</a>
    </br>
    {% if winning_user|length > 0 %}
        <h2 style="color: green; font-weight: bold"> {{ winning_user }} </h2>
    {% endif %}
    {% if tie_break_log|length > 0 %}
        Tie Break Details: </br>
        {% for log in tie_break_log[:1] %}
            <p style="color: green; margin: 0; padding: 0"> {{ log }} </p>
        {% endfor %}
        {% for log in tie_break_log[1:] %}
            <p style="color: red; margin: 0; padding: 0"> {{ log }} </p>
        {% endfor %}
    {% endif %}
        
    <h4>
        <table class="pickem_table" align="center">

        <!-- Home vs Away -->
        <tr>
            <th rowspan="3" style="width: 200px;"> The<br>Funnel </th>
            {% for game in game_dict %}
                {% if game_dict[game]['datetime'] > now or game_dict[game]['status']['status'] == 'Final' %}
                    <th style="font-size: 9px;"> {{ game_dict[game]['abbreviations']['HOME'] }} vs. {{ game_dict[game]['abbreviations']['AWAY'] }} </th>
                {% else %}
                    <th class="current_user" style="font-size: 9px;"> {{ game_dict[game]['abbreviations']['HOME'] }} vs. {{ game_dict[game]['abbreviations']['AWAY'] }} </th>
                {% endif %}
            {% endfor %}
            <th rowspan="4"> T<br>B </th>
            <th rowspan="4"> W<br>I<br>N<br>S</th>
        </tr>

        <!-- Current Line -->
        <tr> 
            {% for game in game_dict %}
                {% if game_dict[game]['datetime'] > now or game_dict[game]['status']['status'] == 'Final' %}
                    <th style="font-size: 8px; white-space: nowrap;"> 
                        {% for elem in game_dict[game]['line'] %}
                            {{ elem }}
                        {% endfor %}
                    </th>
                {% else %}
                    <th class="current_user" style="font-size: 8px; white-space: nowrap;"> 
                        {% for elem in game_dict[game]['line'] %}
                            {{ elem }}
                        {% endfor %}
                    </th>
                {% endif %}
            {% endfor %}
        </tr>

        <!-- display game start date/time -->
        <tr>
            {% for game in game_dict %}
                {% if game_dict[game]['datetime'] > now %}
                    <th style="font-size: 9px;">
                        {{ game_dict[game]['date_short']}}
                    </th>
                {% elif game_dict[game]['status']['status'] == 'Final' %}
                    <th style="font-size: 9px;">
                        Final
                    </th>  
                {% else %}
                    <th class="current_user" style="font-size: 9px;">
                        QTR{{ game_dict[game]['status']['quarter'] }}<br>{{ game_dict[game]['status']['displayClock']}}
                    </th>
                {% endif %}
            {% endfor %}
        </tr>

        <!-- Current Score -->
        <tr>
            <th style="font-size: 12px; white-space: nowrap;">Live Scoring</th>
            {% for game in game_dict %}
                {% if game_dict[game]['datetime'] > now or game_dict[game]['status']['status'] == 'Final' %}
                    <th style="font-size: 9px; white-space: nowrap;">{{ game_dict[game]['competitors'][0][2]}} - {{ game_dict[game]['competitors'][1][2] }}</th>
                {% else %}
                   <th class="current_user" style="font-size: 9px; white-space: nowrap;">{{ game_dict[game]['competitors'][0][2]}} - {{ game_dict[game]['competitors'][1][2] }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        
        <!-- User Picks  -->
            {% for user, picks in d.items() %}
        <tr>
            {% if user_dict[user]['username'] == session['username'] %}
                {% if user_dict[user]['username'] == 'dh2' or user_dict[user]['username'] == 'ruffruss13' %}
                <!-- <td class="current_user">{{ user_dict[user]['username'] }}</td> -->
                <!-- <td class="current_user" style="width: 200px;">{{ user_dict[user]['first_name'] }} {{ user_dict[user]['last_name'] }}</td> -->
                <td class="current_user" style="white-space: nowrap; text-align: left; border-right: 15px;">{{ user_dict[user]['username'] }}
                <span class="CellComment">
                    Hi - My name is Pete.  I call myself RuffRuss.  I'm an asshole.
                </span></td>
                {% else %}
                <td class="current_user" style="white-space: nowrap; text-align: left; border-right: 15px;">{{ user_dict[user]['username'] }}</td>
                {% endif %}
            {% elif user != 'key' and user != 'reverse' %}
                <!-- <td>{{ user_dict[user]['username'] }}</td> -->
                <!-- <td style="width: 200px;">{{ user_dict[user]['first_name'] }} {{ user_dict[user]['last_name'] }}</td> -->
                {% if user_dict[user]['username'] == 'dh2' or user_dict[user]['username'] == 'ruffruss13' %}
                <td class="CellWithComment" style="white-space: nowrap; text-align: left; border-right: 15px;">{{ user_dict[user]['username'] }} 
                    <span class="CellComment">
                        Hi - My name is Pete.  I call myself RuffRuss.  I'm an asshole.
                    </span></td>
                {% else %}
                <td style="white-space: nowrap; text-align: left; border-right: 15px;">{{ user_dict[user]['username'] }}</td>
                {% endif %}
            {% endif %}
            {% if user != 'key' and user != 'reverse' %}
                {% for game in game_dict %}
                    {% if game_dict[game]['espn_id'] in locked_games and user != session['userid'] %}
                        {% if d[user][game_dict[game]['espn_id']] is defined %}
                        <td> XXX </td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    {% elif game_dict[game]['espn_id'] in locked_games %}
                        <td class="current_user" style="white-space: nowrap;"> {{ d[user][game_dict[game]['espn_id']] }} </td>
                    {% else %}
                        {% if d[user][game_dict[game]['espn_id']] == game_dict[game]['winner'] %}
                            {% if user == session['userid'] %}
                               <td class="winner_cu" style="white-space: nowrap;">{{ d[user][game_dict[game]['espn_id']] }}</td>
                            {% else %}
                                <td class="winner" style="white-space: nowrap;">{{ d[user][game_dict[game]['espn_id']] }}</td>
                            {% endif %}
                        {% elif game_dict[game]['winner'] == 'PUSH' %}
                            <td style="white-space: nowrap;">{{ d[user][game_dict[game]['espn_id']] }}</td>
                        {% else %}
                            {% if user == session['userid'] %}
                                <td class="loser_cu" style="white-space: nowrap;">{{ d[user][game_dict[game]['espn_id']] }}</td>
                            {% else %}
                                <td class="loser" style="white-space: nowrap;">{{ d[user][game_dict[game]['espn_id']] }}</td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if user != session['userid'] %}
                    <th style="font-size: 12px;"> X </td>
                    <th style="font-size: 12px;"> {{ d[user]['wins'] }}</td>
                {% else %}
                    <td class="current_user">{{ tb_dict[user] }}</td>
                    <td class="current_user"> {{ d[user]['wins'] }}</td>
                {% endif %}
                
        </tr>
            {% endif %}
            {% endfor %}
        
        <tr>
        </table>
    <!-- </div> -->

        <!-- {% for col in game_details %} 
            <th class="all_picks" style="width: 200px; font-size: 12px">{{ col }} </th>
        {% endfor %}
        </tr>
        <tr>
            <th style="font-size: 12px; text-align: right; background-color: black; color: white"> Winner: </th>
            {% for n in range(1,14) %}
            <th style="font-size: 12px; background-color: black; color: white" id={{ n }}>{{ game_dict[n].winner }} </th>
            {% endfor %}
        </tr>
        {% for user in user_picks %}
        <tr>
            {% if user in winner %}
                <td class="winning_user" style="text-align: left; border-right: 5px solid black">{{ crown }} {{ user }}</td>
            {% elif user == current_username and user in eliminated_list %}
                <td class="current_user_elim" style="text-align: left; border-right: 5px solid black">{{ user }} </td>
            {% elif user == current_username %}
                <td class="current_user" style="text-align: left; border-right: 5px solid black">{{ user }} </td>
            {% elif user in eliminated_list %}
                <td class="eliminated" style="text-align: left; border-right: 5px  solid black">{{ user }} </td>
            {% else %}
                <td style="font-size: 14px; font-weight: bold; text-align: left; border-right: 5px solid black">{{ user }}</td>
            {% endif %}
            {% for n in range(1,14) %}
                {% if user_picks[user].picks[n]  == game_dict[n].winner %}
                    {% if user == current_username %}
                        <td class="winner_cu">{{ user_picks[user].picks[n] }}</td>
                    {% else %}
                        <td class="winner">{{ user_picks[user].picks[n] }} </td>
                    {% endif %}
                {% elif game_dict[n].winner == "TBD" %}
                    {% if user == current_username %}
                        <td class="current_user">{{ user_picks[user].picks[n] }} </td>
                    {% else %}
                        <td>{{ user_picks[user].picks[n] }} </td>
                    {% endif %}
                {% else %}
                    {% if user == current_username %}
                        <td class="loser_cu">{{ user_picks[user].picks[n] }}</td>
                    {% else %}
                        <td class="loser">{{ user_picks[user].picks[n] }} </td>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if user == current_username %}
                <td class="current_user" style="border-left: 5px solid black">{{ tb_dict[user] }}</td>
                <td class="current_user">{{ user_picks[user].win_count }} </td>
            {% else %}
                <td style="border-left: 5px solid black">{{ tb_dict[user] }}</td>
                <td style="font-size: 16px; font-weight: bold">{{ user_picks[user].win_count }} </td>
            {% endif %}
        </tr>
        {% endfor %}
        </table>











 -->






{% endblock %}

